/*heading*/

body{
    margin:0%;
    background: url('pic.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}



/*Class*/

.greet{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;
    top: 2%;
    color: rgb(131, 107, 36);
}


/*Menu*/
.menu-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    overflow-y: auto;
    position: fixed;
    font-size: 2vw;
    padding-left: 10%;
    padding-right: 10%;
}


/*Contact*/
.contact-container{
    top: 3%;
    text-align: center;
    font-size: 2vw;
    width: 100%;
    color: rgb(175, 105, 20);
}

/*Booking*/
.booking-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 32%;
    top: 25%;
    position: fixed;
    font-size: 2vw;
    color: rgb(18, 30, 108);
}

.booking-table {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    transform: translateX(-50%);
    overflow-y: auto;
    position: fixed;
    font-size: 2vw;
    color: rgb(29, 91, 87);
    max-height: 45%;
}

.key {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight:bolder;
}

.value {
    margin-bottom: 2%;
    margin-top: 2%;
}

.order {
    margin-bottom: 2%;
    margin-top: 2%;
}

#total{
    font-weight:bolder;
}

#name, #phone {
    margin-bottom: 2%;
    margin-top: 2%; 
}






/*Comment*/

.comment-table {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 40%;
    left: 20%;
    position: fixed;
    width: 60%;
    height: 50%;
}

.feedback {
    display: none;
    top: 70%;
    left: 48%;
    position: fixed;
    size: 2vw;
    color: rgb(188, 118, 26);
}

.feedback-detail{
    width: 100%;
    height: 50%;
}
/*Button*/

.container-btn {
    top: 15%;
    left:0;
    right:0;
    position: fixed;
    font-size: 2vw;
}

.menu, .contact, .comment {
    background-color: rgb(222, 185, 137);
    width: 30%;
    font-size: 100%;
    color: rgb(255, 255, 255);
    display: list-item;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

}

.home{
    position: fixed;
    bottom: 1%;
    right: 1%;
    background-color: rgb(205, 172, 129);
    font-size: 100%;
    border-radius: 0%;
    font-size: 2vw;
}